{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block center %}
	<h1>Login</h1>
    <form action="" id="loginForm" method="post">
        <input id="login_username_input" type="text" placeholder="Username" name="username">
        <input id="login_password_input" type="password" placeholder="Password" name="password">
        <input id="login_submit" type="submit" value="Login">
        <br>
        <div class
    </form>
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}