{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block center %}
	<h1>Login</h1>
    <form id="loginForm">
        <input id="login_username_input" type="text" placeholder="Username" name="username">
        <input id="login_password_input" type="password" placeholder="Password" name="password">
        <input id="login_submit" type="submit" value="Login">
        <br>
    </form>
    <p class="error"></p>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}